* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  
  
  body {
    background: url(https://i.pinimg.com/564x/09/b1/31/09b131bb64a03a165289f5c4c3d9fc72.jpg), linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(146, 156, 245, 0) 100%
    );
    background-size: contain;
   
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 520px;
    min-height: 600px;
    background: #ffffff;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  h1 {
    margin: 32px 0;
    color: rgb(12, 12, 12);
    font-size: 24px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .todo-input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #bea5ee;
    outline: none;
    width: 320px;
    background: transparent;
    color: rgb(31, 31, 31);
  }
  
  .todo-input::placeholder {
    color: #242323;
  }
  
  .todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
      90deg,
      rgb(194, 171, 240) 0%,
      rgb(205, 152, 238) 100%
    );
    color: #fff;
    text-transform: capitalize;
  }
  
  .todo-input.edit {
    border: 2px solid #bea5ee;
  }
  
  .todo-button.edit {
    background: linear-gradient(
      90deg,
      rgb(204, 176, 231) 0%,
      rgb(192, 156, 233) 100%
    );
    padding: 16px 22px;
  }
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(
      90deg,
      rgb(250, 183, 163) 0%,
      rgb(255, 169, 134) 100%
    );
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  .todo-row:nth-child(4n + 1) {
    background: linear-gradient(
      90deg,
      rgb(189, 161, 245) 0%,
      rgb(212, 175, 247) 100%
    );
  }
  
  .todo-row:nth-child(4n + 2) {
    background: linear-gradient(
      90deg,
      rgb(233, 162, 229) 0%,
      rgb(247, 173, 218) 100%
    );
  }
  
  .todo-row:nth-child(4n + 3) {
    background: linear-gradient(
      90deg,
      rgb(147, 201, 240) 0%,
      rgb(158, 192, 238) 100%
    );
  }
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: #fff;
  }
  
  .edit-icon {
    color: #fff;
  }
  
  .footer {
    background-color: rgb(46, 46, 46);
    color:#fff;
    font-size: 12px;
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:15px
  }
  
  @media only screen and (max-width:690px){
  
    .todo-app {
      width: 350px;
      min-height: 450px;
      margin: 12px auto;
    }
  
    .todo-button {
      margin-top: 10px;
      border-radius: 4px 4px 4px 4px;}
  }